@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
$main: #cf8f24;
$secondary: #ece0cc;
$grey: rgb(61, 61, 61);
$grey2: rgb(109, 109, 109);
$color1: #1999a8;
$color2: #1caf95;
$gradient: linear-gradient(to right, $color1, $color2);
$gradient2: linear-gradient(to left, $color1, $color2);
$background: #ffffff;
$shadow: #e8e8e8;
$shadow2: #e8e8e8d7;

@font-face {
    font-family: 'Kraftan';
    src: local('Kraftan'), url('../styles/fonts/kraftan.otf') format('truetype');
}
