@import 'colors';

.details {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    width: 100%;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.amenities {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1rem;
}


