@import 'colors';

.hoteldetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 0.5rem 0;
    }

    & p {
        color: $grey;
        font-size: 1.25rem;
        text-align: justify;
    }

    & .icontext {
        display: flex;
        align-items: center;
        text-align: start;
        gap: 2px;
    }
}

.hotel-amenities {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;

    & div {
        width: 30%;

        @media screen and (max-width: 820px) {
            width: 47%;
        }
    }

    @media screen and (max-width: 820px) {
        flex-wrap: wrap;
    }
}

.hotel-nearby-places {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;

    & a {
        width: 48%;
    }
}
