@import 'colors';
.photoSlider {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: screen;
    background-color: white;
    height: 100vh;
    z-index: 30;
    padding: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    @media screen and (max-width: 800px) {
        height: 40vh;
        margin: 1rem 0.5rem 0rem 0.5rem;
        border-radius: 0.5rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .mainImage {
        width: 816px;
        height: 35rem;
        margin-right: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px $shadow;
        object-fit: cover;
        @media screen and (max-width: 800px) {
            width: 95vw;
            border-radius: 0.5rem;
            margin-right: 0rem;
        }
    }
    .gallery {
        width: 100%;
        display: flex;
        border-radius: 1rem;
        overflow-x: scroll;
        margin-top: 1rem;
        @media screen and (max-width: 800px) {
            border-radius: 0.5rem;
        }
        .image {
            width: 10rem;
            height: 5.5rem;
            opacity: 50%;
            margin-right: 1rem;
            box-shadow: 0 0 10px $shadow;
            cursor: pointer;
            object-fit: cover;
            @media screen and (max-width: 800px) {
                width: 5rem;
            }
        }
        .image-selected {
            @extend .image;
            opacity: 100%;
        }
        .image:hover {
            opacity: 80%;
            box-shadow: 0 0 10px $grey;
        }
    }
}

.leftIcon {
    position: absolute;
    top: 20rem;
    left: 6rem;
    cursor: pointer;
    @media screen and (max-width: 800px) {
        top: 15rem;
        left: 2rem;
    }
}
.rightIcon {
    position: absolute;
    top: 20rem;
    right: 6rem;
    cursor: pointer;
    @media screen and (max-width: 800px) {
        top: 15rem;
        right: 2rem;
    }
}

.photoGrid {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    height: 65vh;
    border-radius: 1rem;
    margin: 1rem;
    margin-left: 5em;
    margin-right: 5em;
    @media screen and (max-width: 800px) {
        height: 40vh;
        margin: 1rem 0.5rem 0rem 0.5rem;
        border-radius: 0.5rem;
    }
    .image {
        width: 50%;
        box-shadow: 0 0 10px $shadow;
        object-fit: cover;
        @media screen and (max-width: 800px) {
            width: 70%;
        }
    }
    .grid {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap:.5rem;
        overflow-y: hidden;
        width: 50%;
        height: 100%;
        @media screen and (max-width: 800px) {
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 30%;
            margin-left: .5rem;
        }
        .image {
            width: 48%;
            box-shadow: 0 0 10px $shadow;
            object-fit: cover;
            @media screen and (max-width: 800px) {
                width: 100%;
            }
        }
    }
}
