@import 'colors';

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 15rem;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 5px 0rem;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.planCard {
    box-shadow: 0 0 10px $shadow;
    border-radius: 0.5rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;


    @media screen and (max-width:820px) {
        flex-direction: column;
    }
}

.button {
    @extend .noselect;
    background-color: $main;
    color: white;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.button:hover {
    background-color: #a06f1a;
}
.button:active {
    box-shadow: inset 0 0 10px #7c5616;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.features {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    width: 30%;

    & span {
        display: flex;
        align-items: flex-start;
        gap: 2px;
        color: #008009;
    }

    @media screen and (max-width: 820px) {
        width: 100%;
    }
}


input,
 textarea {
   border: 1px solid #eeeeee;
   box-sizing: border-box;
   margin: 0;
   outline: none;
   padding: 10px;
 }
 
 input[type="button"] {
   -webkit-appearance: button;
   cursor: pointer;
 }
 
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
 }
 
 .input-group {
   clear: both;
   margin: 15px 0;
   position: relative;
   background: cadetblue;
   border-radius: 30px;
   padding: 3px;
 }
 
 .input-group input[type='button'] {
  background-color: #cf8f24;
  min-width: 30px;
  width: auto;
  transition: all 300ms ease;
  border-radius: 50%;
  color: #fff;
  border: 3px solid;
 }
 
 .input-group .button-minus,
 .input-group .button-plus {
  font-weight: bold;
    height: 30px;
    padding: 0;
    width: 38px;
    position: relative;
 }
 
 .input-group .quantity-field {
  position: relative;
  height: 24px;
  text-align: center;
  width: 40px;
  display: inline-block;
  font-size: 13px;
  margin: 0 0 2px;
  resize: vertical;
  border: none;
  font-size: 18px;
  background: border-box;
  color: #fff;
   
 }
 
//  .button-plus {
//    left: -13px;
//  }
 
 input[type="number"] {
   -moz-appearance: textfield;
   -webkit-appearance: none;
 }
 
