@import '../colors';

.ring {
    transition: all 10ms ease-in;
    transition: all 10ms ease-out;
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: $main;
    z-index: 10000;
    height: 20px;
    width: 20px;

    @media screen and (max-width: 800px) {
        display: none;
    }
}

.body {
    cursor: none !important;
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

    @media screen and (max-width: 800px) {
        cursor: default;
    }
}

.main {
    width: 100%;
    overflow-x: scroll;
    display: flex;
}

.main img {
    width: 80%;
    border-radius: 1rem;
}

.descp {
    font-size: 1rem;
    margin: 1rem;
    max-height: 100px;
    width: 80%;
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
}

.hotel {
    border: solid 1px $main;
    border-radius: 0.5rem;
    height: 40rem;
    min-width: 20rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 0 10px $shadow;

    @media screen and (max-width: 800px) {
        margin: 2rem;
    }
}

.hotelName {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

.glow-on-hover {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    color: #fff;
    background: $gradient;

    text-decoration: none;
    width: 6rem;
    text-align: center;
    position: relative;
    z-index: 0;
    border-radius: 1rem;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: $gradient;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    -webkit-text-fill-color: $grey;
    letter-spacing: 0.5px;
    font-family: 'Kraftan', sans-serif;
    font-weight: 300;
    @media screen and (max-width: 800px) {
        font-size: 2rem;
        text-align: center;
    }
}