@import '../colors';


.toursImage {
    height: 55vh;
    width: 85vw;
    object-fit: cover;
    margin-top: 8rem;
    border-radius: 0rem 0rem 10rem 10rem;

    @media screen and (max-width: 800px) {
        margin-top: 5rem;
        width: 90%;
        height: 45vh;
        border-radius: 0rem 0rem 6rem 6rem;
    }
}

.toursContent {
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;

    h1 {
        margin: 0rem 0 0.25rem 0;
        font-size: 5rem;
        margin-bottom: 1rem;
        font-weight: 200;
        -webkit-text-fill-color: $grey;
        letter-spacing: 0.5px;
        font-family: 'Kraftan', sans-serif;
        font-weight: 300;

        @media screen and (max-width: 800px) {
            font-size: 3rem;
            margin: 0rem 0 0.25rem 0;
        }
    }

    p {
        margin-top: 0rem;
        color: $main;
        font-family: 'Maven Pro', sans-serif;
        font-weight: 400;
        font-size: 1rem;
    }

    .button {
        width: 20%;
        cursor: none;
        border: 1px solid $main;
        background-color: white;
        padding: 1rem;
        width: 15%;
        text-decoration: none;
        color: $grey;

        @media screen and (max-width: 800px) {
            width: 50%;
        }
    }

    .button:hover {
        color: white;
    }
}